@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Spoqa Han Sans Neo", "sans-serif";
  /* font-size: 16px; */
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

body {
  background-image: url("./images/beach.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30rem;
  height: auto;
  padding: 30px;
}

main {
  background: linear-gradient(
    124.47deg,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0)
  ); /* 배경색이 투명하게 보이게 한다 */
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0px);
}

main:hover {
  background: linear-gradient(
    124.47deg,
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.2)
  );
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
}

.logo {
  width: 170px;
  margin: 12px auto 30px;
}

fieldset {
  border-radius: 50px;
  display: flex;
  justify-content: center;
  margin: 10px;
  padding: 10px 12px;
}

fieldset:not(:last-of-type) {
  background: linear-gradient(
    124.47deg,
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.2)
  );
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

fieldset:not(:last-of-type):hover {
  background: linear-gradient(
    124.47deg,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.5)
  );
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

input {
  width: 15rem;
  border: none;
  background-color: transparent;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.9);
}

input::placeholder {
  color: rgb(255, 255, 255, 0.5);
}

input:focus {
  outline: none;
}

button {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 50px;
  color: rgba(255, 255, 255, 0.9);
  font-size: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  background: linear-gradient(
    124.47deg,
    rgba(61, 151, 215, 0.2),
    rgba(61, 151, 215, 0),
    rgba(61, 151, 215, 0.2)
  );
  backdrop-filter: blur(5px);
  padding: 4px 12px;
  margin: 0px 8px;
}

button:hover {
  background: linear-gradient(
    124.47deg,
    rgba(61, 151, 215, 0.8),
    rgba(61, 151, 215, 0.6),
    rgba(61, 151, 215, 0.8)
  );
  top: 1px;
  margin-top: 1px;
}

button:active {
  position: relative;
  top: 5px;
  margin-top: 5px;
}

main > div {
  color: rgba(61, 151, 215, 0.8);
  font-size: 12px;
  padding: 0px 30px 0px 30px;
}
